header {


  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    position: relative;

    h1 {
      margin: 0;
    }

    .menu {
      a {
        font-family: $mainItalic;
        font-size: 0.9rem;
        letter-spacing: 1px;
        text-decoration: none;
        margin: 0 10px;
        color: $black;

        &:hover, &:focus, &:active {
          color: $mainColor;
        }
      }
    }
  }
}




